---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Page describing opportunities to join lab",
	title: "Opportunities",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">Interested in joining the lab?</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Funded opportunities will be posted here as they become available.
			If there aren't any postings, don't despair! There may be opportunities to join the lab with funding from a teaching assistantship. 
			The timeline for applying for a MS or PhD with the UNM Earth and Planetary Sciences Dept. is the following:
			<ul class="list-inside list-disc" role="list">
				<li>Fall semester: Reach out to Dr. Markovich via email to express interest and include your cv/resume and a brief intro</li>
				<li>early January: Deadline to apply to UNM EPS dept. Only applicants who established comptaibility and funding availability will be considered</li>
				<li>March: Offers made and campus visit to get to know the department and Markovich lab</li>
				<li>mid-April: Deadline to accept/decline offer </li>
				<li>Fall: start program! </li>
			</ul>
		<p>
	</div>
</PageLayout>
